<ion-app>
  <ion-split-pane>
    <ion-menu side="start">
      <ion-header>
        <ion-menu-toggle>
          <ion-toolbar color="primary">
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-menu-toggle>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle *ngFor="let p of appPages">
            <ion-item button href="{{p.url}}" menuClose>
              <ion-label>{{p.title}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-content>
    </ion-content>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
